[role="main"]:before,
[role="main"]:after {
	content: " ";
	position: absolute;
	z-index: -1;
	top: 0;
	left: -100%;
	width: 100%;
	height: 100%;
}

[role="main"]:after {
	left: 100%;
}



[role="navigation"],
[role="main"] {
	transition: .2s all ease;
	width: 100%;
	display: block;
	position: relative;	
}


[role="navigation"] {
	height: 100vh;
	@include breakpoint(small-screen) { 
		width: 30%;
		background-color: pink;
		// margin-left: 70%;
	}
}


.js {

	[role="navigation"] {
		margin-right: -200%;
		float: left;
	}	

	[role="main"] {
		margin-left: 0;
		float: left;
	}	

	.active-nav {

		[role="navigation"] {
			margin-left: 0;
			width: 100%;
			z-index: 9;

			@include breakpoint(small-screen) {
				margin-left: 70%;
				width: 30%;
			}
		}

		[role="main"]{
			margin-left: -90%;
			@include breakpoint(small-screen) {
				margin-left: -30%;
			}
		}
	}
}

