// section {
// 	padding: 2rem 0 6rem 0;
// }

// .alt-font {
// 	font-family: $heading_font_2;
// 	font-size: 1.1em;
// }


.slab {
	font-size: 5em;
  	margin: 0.563em 0;
  	font-family: $slab_heading;

}

.test {
	color: $primary_color;
	font-family: 'franklin-gothic-urw-cond';
	font-size: 3em;
}

