.content-head {
	// background-image: url(../img/head-tint-2.jpg);
	// background-repeat: no-repeat;
	// background-position: top center;
	// background-size: 100%;	
	margin: 0;
	padding:0;
	vertical-align: top;
	// height: 256px;

}	