.summary {
	h2:first-of-type {
		margin-top: 0;
	}
	@include breakpoint(tablet-portrait) {
		// columns: 12em 2;
		// column-gap: 2em;		
	}
}

.prod-section {

	padding: 6rem 0;

	p {
		margin-top: 0;
		padding-top: 0;
	}
	h2, h3, h4 {		
		color: $white;
	}

	.quote-block {
		padding-right: 2rem;
		@include breakpoint(tablet) {
			padding-right: 4rem;
		}
	}
}


.sub-head {
	font-size: 2rem;
	line-height: 2.5rem;
}

.credits {
	padding-bottom: 3rem;
	h3 {
		color: $white;
	}
}
.credit-role {
	color: lighten($primary_color, 10);
}

// .tour-dates {
// 	padding-bottom: 3rem;
// }


